
@media (min-width: 800px) and (max-width: 1500px) {

  div.about-us {

    display: flex;
    justify-content: space-between;

  }

  aside.about {

    width: 1000px;
    margin: 100px

  }

  .about img{
    padding-left:40%;
    margin-bottom: 20px;
  }



}


/******************* MOBILE ******************/
/*******************  ******************/
/*******************  ******************/

.about-us {

  display: flex;
  justify-content: space-between;


}

.about {

  margin-top:50px;
  padding-right:30px;
  width: 400px;


}

