

@media (min-width: 800px) and (max-width: 1500px) {


}

/******************* MOBILE ******************/
/*******************  ******************/
/*******************  ******************/

footer {

  ul li {
    list-style: none;

    letter-spacing: 2px;

  }


  .copyright{

    margin: 20px 0 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 2px;
    font-size: 10px;
  }
}

