

@media (min-width: 800px) and (max-width: 1500px) {

  footer{
    ul{
        margin-top:30px;

    }

    ul li{
      margin-top:10px;
      padding-left: 35px;
    }
  }

}

/******************* MOBILE ******************/
/*******************  ******************/
/*******************  ******************/

footer {



  ul li {
    list-style: none;

    letter-spacing: 2px;
    font-size: 12px;



  }


  .copyright{

    margin: 20px 0 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 2px;
    font-size: 10px;
  }
}

